.header {
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );

  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 2px;
}
